# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log
*.out

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Optional: build or dist directories
dist/
build/

# Optional: IDE/editor folders
.vscode/
.idea/
